<div class="container">
    <h1 appHighlight>Transaction History</h1>
    <!-- after using appHighlight we get the h1 tag in the constructor of highlight.ts and can modify the contents in this tag -->
    
    <app-animation-demo></app-animation-demo>
    <!-- this is just to check the animation -->

    
    <table>


        <thead>
            <tr>
                <th>ID</th>
                <th>Amount </th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            <app-delete-confirmation [id]="id" (onCancel)="onCancel($event)" (onDelete)="deleteTransaction($event)"></app-delete-confirmation>
            <!-- emiited data from delete is listen here and call the fn deleteTransaction() -->
            <!-- "id" is the id in transaction.ts, [id] is the id in child {{id}} in delete.html, which is passing to the child that is id near @Input-->
           <!-- [id] is property bnding -->

            <!-- <app-delete-confirmation (onDelete)="onDelete($event)" (onCancel)="onCancel($event)" [id]="idToBeDeleted"></app-delete-confirmation> -->
             <!-- we can see the contents in the deleteConfirmation component -->
             <!-- to pass the id we use square brackets -->
             <!-- $event in onCancel is optional,since this is cancel not necessary to pass the event -->
             <!--(onDelete) this name should be same as given in the delete component @output  -->

            <tr [ngClass]="id==transaction._id? 'grey':'pink' " *ngFor="let transaction of transactions">
                <!--this is like a for loop, after every transactions the amount, type will be stored in 'transaction' array  -->
                <!-- [ngClass]="id==transaction._id? 'grey':'grren' " will highlight the particular id, if true-grey, false-green -->
                <!-- if the condition is in single cots ([ngClass]="id==transaction._id? 'grey':'') means nothing to do -->

                <td>{{transaction._id}}</td>
                <td>{{transaction.amount}}</td>
                <!-- <td>{{transaction.type}}</td> -->
                <td>{{transaction.typeOfTransaction}}</td>
            <!-- changed to typeOfTransaction bcz it is given like this in backend -->
           <td><button class="btn btn-primary" (click)="delete(transaction._id)">Delete</button></td>
        </tr>
            
        </tbody>



    </table>





</div>