<div class="container">
    <h1>Transaction History</h1>
    <table>


        <thead>
            <tr>
                <th>Amount </th>
                
                <th>Type</th>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let transaction of transactions">
                <!--this is like a for loop, after every transactions the amount, type will be stored in 'transaction' array  -->
                <td>{{transaction.amount}}</td>
                <td>{{transaction.type}}</td>
            </tr>
            
        </tbody>



    </table>





</div>