<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col">Register an account</div>
    </div>
    <div class="row">
        <div class="col">
            <form [formGroup]="registerForm" (ngSubmit)="register()">
            <div class="form-group">

                <label for="nam">Name</label>

                <input formControlName="name" name="name" type="text" class="form-control" id="nam">
            
            <!-- this formControlName are the same names given under the registerForm in reg.ts which takes the values that we entered in the browser -->
            <!-- so remove type, ngModel,(change) instead use formControlName -->
        
        <!-- <div  *ngIf="this.registerForm.get('name').errors" class="error">Name is invalid</div> -->
        
        <!-- conditional ngIf shows only when the condition is false, ngIf is a directive -->
        <!-- instead of giving this check using the if condition check of the name, commonly we can use getError -->
    <div *ngIf="getError('name')" class=error>Name is invalid</div>
    <!-- the values  eg: ('name') are passed in a single cots to take the string as such that we entered -->
    <!-- if we pass the values without using the single cots it take as variable which is not present -->

</div>

            <div class="form-group">

                <label for="accno">Account Number</label>

                <input formControlName="acno" name="acno" type="text" class="form-control" id="accno">
                <div *ngIf="getError('acno')" class=error>acno is invalid</div>
            <!-- ngIf check the condition and if the condition is true it will show the value 'acno is invalid' -->
            </div>
            <div class="form-group">

                <label for="pin">Pin</label>

                <input formControlName="pin" name="pin" type="text" class="form-control" id="pin">
                <div *ngIf="getError('pin')" class=error>pin is invalid</div>
            </div>

            <div class="form-group">
                <label for="pwd">Password</label>

                <input formControlName="pwd" name="pwd" type="password" class="form-control" id="pwd">
                <div *ngIf="getError('pwd')" class=error>pwd is invalid</div>
            </div>

<!-- for the ngSubmit in the form the button type should be="submit", so on click submsit it will redirect -->

            <button type="submit" class="btn btn-primary" >Submit</button>

            <!-- to give link to navigate to the dashboard ortherwise we can import router and use navigateByUrl-->

            <a routerLink="">Back to Login</a>
        </form>
        </div>

    </div>

</div>